:root{
    --fondo-color:#fff;
    --items-color:#262b3c;
    --items-color2:#08f;
    --border-color:#fff;
    --text-color: #fff;
    --color-boton: #01356e;
	--winter-sky: hsl(335, 87%, 53%);

	/*border radius*/
	--radius-12: 12px;

	/**transition*/
   --transition-1: 0.15s ease;

   /** shadow */
  	--shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
  	--section-padding: 80px 0;
}
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: sans-serif;
}
/*body{
    width: 100%;
    height: 100vh;
    /*background-color: var(--fondo-color);
    background: #fff;
    position: relative;
}*/
body{
    background: #fff;
    height: 100vh;
}
.wrapper span{
    position: fixed;
    top: -120px;
    height: 50px;
    width: 50px;
    z-index: -1;
    animation: animate 10s linear infinite;    
}
.wrapper span:nth-child(1){
    left: 60px;
    animation-delay:0.6s;
    border: 5px solid cyan;
}
.wrapper span:nth-child(2){
    left: 60%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
    background: #ff4293;
}
.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
    border: 5px solid #fff;    
}
.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
    background: #befb46;
}
.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
    border: 5px solid #ff4293;
}
.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
    border: 5px solid deepskyblue;
}
.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
    background: #ffd59e;
}
.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
    border: 5px solid #befb46;
}
.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
    background: cyan;
}
.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
    border: 5px solid #fff;    
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content h2{
    -webkit-text-fill-color: #e39b2e;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #e39b2e;
    font-family: montserrat;
    font-size: 80px;
    text-transform: uppercase;
    letter-spacing: 12px;
    text-align: center;
    line-height: 0.9;
}
.content h2 b{
    -webkit-text-fill-color: transparent;
    font-size: 65px;
}
@keyframes animate{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        opacity: 0.7;
    }
    100%{
        transform: translateY(800px) rotate(360deg);
        opacity: 0;
    }
}
/* menu hamburguesa y logo*/
.menu{
    display: flex;
    align-items:center;
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    background: #E48200;
    position: fixed;
    border-bottom: #ffd19b 1px solid;
}
.menu img{
    width: 80px;
    height: 80px;
    margin-left: 20px;
	text-align: center;
	display: inline;
	justify-content: center;
}
.menu span i{
    color: #ffd19b;
    font-size: 2.7rem;
    cursor: pointer;
}
.input-icono {
	display: flex;
	align-items: center;
	width: 400px;
	padding-left: 28px;
	height: 40px;
	border-radius: 20px;
	position: fixed;
	left: 600px;
	top: 15px;
}
/*menu laterar*/
aside{
    background-color: #D27300;
    width: 260px;
    position: fixed;
    top: 10px;
    left: 0;
    bottom:0;
    overflow-y: hidden;
    margin-top: 59px;
    transition: 0.5s;
}
aside:hover{
    overflow-y: auto;
}
.desplegar{
    transform: translateX(-100%);
}
.menu2::-webkit-scrollbar{
    width: 8px;
}
.menu2::-webkit-scrollbar-thumb{
    background-color: #e9e9e9;
    border-radius: 5px;
}
.container-svg{
    border-bottom: 1px solid #fff;
    padding: 10px 1px;
    color: #fff;
}
.container-svg div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}
.container-svg div:hover{
    background-color: #e39b2e;
}
.container-svg div span{
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}
h2{
    padding: 10px 20px;
    color: #aaaaaa;
}
/*perfil*/
.perfil img{
	width: 40px;
	height: 40px;
	position: fixed;
	top: 15px;
	right: 15px;
}
.notificacion{
	background-image: url('../Asset/Imagenes/notificacion.png');
	background-repeat: no-repeat;
	background-position: 5px center;
	width: 30px;
	height: 30px;
	color: #FFF;
	position: fixed;
	top: 20px;
	right: 120px;
}
.notificacion p{
	display: none;
	width: 100px;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	font-size: 12px;
	position: fixed;
	top: 65px;
	right: 80px;
	background: #e39b2e;
	color: #fff;
}
.notificacion:hover{
	background-color: #e39b2e;
}

section div:hover > p{
	display: block;
}
.camara{
	background-image: url('../Asset/Imagenes/camara.png');
	background-repeat: no-repeat;
	background-position: 5px center; 
	width: 30px;
	height: 30px;
	color: #e39b2e;
	position: fixed;
	top: 20px;
	right: 200px;
}

.camara p{
	display: none;
	width: 100px;
	height: 30px;
	text-align: center;
	padding-top: 5px;
	font-size: 12px;
	position: fixed;
	top: 65px;
	right: 170px;
	background: #e39b2e;
	color: #fff;
}
.camara:hover{
	background-color: #e39b2e;
}

/*Perfil*/
#aside2{
	background-color: #D27300;
	width: 280px;
	height: 400px;
	position: absolute;
    	top: 10px;
    	right: 10px;
    	bottom:0;
    	overflow-y: hidden;
    	margin-top: 60px;
    	transition: 0.5s;
}
section:hover{
    overflow-y: auto;
}
section::-webkit-scrollbar-thumb{
    background-color: #04315a;
    border-radius: 5px;
}
.container-svg2{
    border-bottom: 1px solid var(--border-color);
    padding: 10px 1px;
    color: var(--text-color);
}
.container-svg2 div{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}
.container-svg2 div:hover{
    background-color: #e39b2e;
}
.container-svg2 div span{
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
}
h1{
    padding: 10px 20px;
    color: #aaaaaa;
}
.desplegar2{
	/*transform: translateY(-100%);*/
	display: none;
}
#chat{
	display: none;
}
#chat-container {
	width: 590px;
  /*max-width: 600px;*/
  	margin: 30px auto;
  	border: 1px solid #ddd;
  	box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
  	border-radius: 2px;
	position: fixed;
	top: 90px;
	right: 15px;
}

#chat-window {
  	height: 420px;
  	overflow: auto;
  	background:#F9F9F9;
}
#chat-window img{
	width: 100px;
	height: 100px;
	position: fixed;
	top: 300px;
	right: 260px;
}

#output p {
	font-size: 16px;
  	padding: 14px 0px;
  	margin: 0 20px;
  	border-bottom: 1px solid #e9e9e9;
  	color: #555;
}

#actions p {
	font-size: 16px;
  	color: #aaa;
  	padding: 14px 0;
  	margin: 0 20px;
}

input {
  	padding: 10px 20px;
  	box-sizing: border-box;
  	border: 0;
  	background: #fff;
	display: block;
  	width: 80%;
	position: relative;
	top: 0px;
	left: 40px;
}
#username{
	padding: 10px 20px;
	box-sizing: border-box;
	border: 0;
	background: #fff;
	color: #07203f;
	width: 15%;
	position: fixed;
	top: 125px;
	left: 549px;
}
#send {
  	background: #07203f;
  	color: #fff;
  	font-size: 18px;
  	border: 0;
  	padding: 12px 0;
  	width: 50px;
  	height: 50px;
  	border-radius: 50%;
	position: fixed;
	top: 525px;
	left: 1280px;
}
#send:active{
	background: #04315a;
}
.chatgenral{
	width: 210px;
	height: 462px;
	background: #262b3c;
	position: fixed;
	top: 120px;
	right: 610px;
}
#boton{
	position: fixed;
	top: 115px;
	right: 830px;

}
/*perfil de empresas*/
.container-perfil{
	display: flex;
	width: 100%;
	height: 100%;
}
.perlfil img{
	width: 200px;
	height: 200px;
	padding: 15px;
	margin: 10px;
	position: fixed;
	top: 250px;
	left: 580px;
}
.perlfil h1 {
	color: #fff;
	font-size: 25px;
	padding: 5px;
	position: fixed;
	top: 110px;
	left: 580px;
}
.perlfil p{
	color: #fff;
	font-size: 19px;
	position: fixed;
	top: 160px;
	left: 540px;
}
/*inicio*/
.inicio{
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 50%;
	text-align: center;
	padding-top: 130px;
}
.inicio h1{
	font-size: 40px;
	text-align: center;
	padding: 18px;
	color: #FF6400;
}

.desplegable ul ,li{
	display: none;
}
.inicio p{
	text-align: center;
	font-size: 22px;
	color: #EF6912;
}
.sales{
	width: 150px;
	height: 150px;
	background-color: #EF6912;
	border-radius: 50px;
}
.sales:hover {-webkit-transform:scale(1.2);transform:scale(1.2);transform: 1.3s;}
.sales {overflow:hidden;}

.lateral img{
	width: 100px;
	height: 100px;
	float: left;
	padding: 15px 14px;
}
.lateral p{
	color: #fff;
	text-align: left;
	font-size: 18px;
	padding: 15px;
}
.imput{
	padding-top: 100px;
	text-align: left;
}
.imput input{
	background: #2a3042;
	width: 330px;
	height: 35px;
	font-size: 13px;
	border: none;
	border-radius: 20px;
	border: 1px solid #a6b0cf;
	color: #fff;
}

img:hover{
 	transform: scale(1.2, 1.2);
	z-index: 9;
}

/*Pre Biografia*/

.text{
	font-size: 14px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
  }

.service-list {
	display: grid;
	gap: 30px;
  }
  
  .service-card {
	padding: 30px;
	box-shadow: var(--shadow);
	border-radius: var(--radius-12);
  }
  
  .service-card .card-icon {
	/*background-image: url("../images/service-banner-pattern.png");*/
	background-repeat: no-repeat;
	background-size: contain;
	aspect-ratio: 1 / 1;
	max-width: 165px;
	display: grid;
	place-content: center;
	margin-inline: auto;
	transition: var(--transition-1);
  }
  
  .service-card:hover .card-icon { background-color: #094ab0 }
  
  .service-card .card-icon ion-icon {
	font-size: 5rem;
	color: var(--white);
	--ionicon-stroke-width: 20px;
	transition: var(--transition-1);
  }
  
  .service-card:hover .card-icon ion-icon { color: var(--white); }
  
  .service-card .title {
	text-align: center;
	margin-block-end: 15px;
  }
  
  .service-card .text {
	text-align: center;
	margin-block-end: 20px;
  }
  
  .service-card .card-btn {
	margin-inline: auto;
	padding: 15px;
	border: 1px solid var(--winter-sky);
	border-radius: 50%;
	color: var(--winter-sky);
	transition: var(--transition-1);
  }
  
  .service-card .card-btn:is(:hover, :focus) {
	color: var(--white);
	background-color: var(--winter-sky);
  }


/**
 * responsive for larger than 768px screen
 */

 @media (min-width: 768px) {
	  /**
   * SERVICE
   */

   .service-list { grid-template-columns: 1fr 1fr; }
 }

 /**
 * responsive for larger than 992px screen
 */

@media (min-width: 992px) {
	  /**
   * SERVICE
   */

   .service-list { grid-template-columns: repeat(3, 1fr); }
}